<!-- Author: Kamrin Aubin
     Last Modified: December 12, 2021
     Description: About webpage. Provides a brief description of who Play Unit Games is and
                  the actual purpose of this assignment.

 -->
@{
    ViewData["Title"] = "About";
}

<!-- Aligns the text to the left -->
<div class="text-left">
    <!-- About P.U.G. header -->
    <h1>About Play Unit Games</h1>
    <hr />

    <!-- Brief Description -->
    <p>
        Play Unit Games is a small up and coming gaming brand in Canada! While we may be small now,
        we plan to expand and build a community like none other. We offer a selection of new and used
        video games and consoles for anyone's gaming needs. Whether you're a customer or an employee,
        we value everyone that is apart of our P.U.G. community!
    </p>
    <br />

    <!-- About Lab 5 Header -->
    <h1>About Lab 5</h1>
    <hr />
    <!-- The purpose of web application header -->
    <h2>Why was this web application made?</h2>

    <!-- Description on purpose -->
    <p>
        This web application was made for Lab 5 for .Net Development. It required the use of the Entity Framework
        to create basic CRUD operations for at least 2 models (Web Application features 3 models). It also needed
        5 unique views and database containing at least 2 tables (Web Application features 3 tables). Styling and
        commenting is also necessary to move away from the default look.
        <br />
        <br />
        The purpose of this assignment is to have an application viewable on GitHub that can be viewed by a potential
        employer. It's requirements were not guides as the assignment wanted me to develop my own tables and models.
    </p>
    <hr />
    <br />

    <!-- Who made it? well of course it's me Kamrin! :) -->
    <h4>Who made the web application?</h4>
    <!-- Makes text italic -->
    <p class="font-italic">~ Kamrin Aubin</p>
    <hr />
</div>


